USE [master]
GO
/****** Object:  Database [SaveCourseDB]    Script Date: 2/18/2021 9:10:22 PM ******/
CREATE DATABASE [SaveCourseDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SaveCourseDB', FILENAME = N'F:\Visual Studio Project\ASP.Net\Project\1. SaveCourseWebApp\SaveCourseDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SaveCourseDB_log', FILENAME = N'F:\Visual Studio Project\ASP.Net\Project\1. SaveCourseWebApp\SaveCourseDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SaveCourseDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SaveCourseDB]
GO
/****** Object:  Table [dbo].[AssignTable]    Script Date: 2/18/2021 9:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AssignTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[Assignment] [varchar](100) NOT NULL,
	[ClassTest] [varchar](100) NOT NULL,
	[LabReport] [varchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_AssignTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CourseTable]    Script Date: 2/18/2021 9:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CourseTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseTitle] [varchar](100) NOT NULL,
	[CourseCode] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CourseTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LogInTable]    Script Date: 2/18/2021 9:10:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LogInTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserCodeId] [varchar](100) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
 CONSTRAINT [PK_LogInTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[AssignTable]  WITH CHECK ADD  CONSTRAINT [FK_AssignTable_CourseTable] FOREIGN KEY([CourseId])
REFERENCES [dbo].[CourseTable] ([Id])
GO
ALTER TABLE [dbo].[AssignTable] CHECK CONSTRAINT [FK_AssignTable_CourseTable]
GO
ALTER TABLE [dbo].[AssignTable]  WITH CHECK ADD  CONSTRAINT [FK_AssignTable_LogInTable] FOREIGN KEY([UserId])
REFERENCES [dbo].[LogInTable] ([Id])
GO
ALTER TABLE [dbo].[AssignTable] CHECK CONSTRAINT [FK_AssignTable_LogInTable]
GO
USE [master]
GO
