body {
    margin-bottom: 100px;
    background-image: url("/Images/login_register.jpg");
    background-size: cover;
	background-position: center center center center;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
}
a {
    font-size: 20px;
}
label {
    font-size: 20px;
}
p {
    font-size: 18px;
    color: red;
}
.jumbotron {
    background-color: rgba(255, 255, 255, 0.4);
}
label.error {
    color: red;
    margin-left: 30px;
}
#link1 {
    margin-top: 20px;
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 20px 20px 20px 20px;
    padding: 30px;
}
#userCodeId,#userName,#password {
    width: 300px;
}
marquee h2 {
    font-family: Berlin Sans FB Demi;
    color: #cc0000;
    font-style: italic;
}